<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>SNEED dApp</title>
    <meta name="description" content="Sneed Vision Letter" />

    <meta name="background-color" content="#efefef" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#efefef" />
    <meta name="theme-color" content="#efefef" />

    <meta property="og:title" content="Sneed Vision Letter" />
    <meta property="og:description" content="Sneed Vision Letter" />
    <meta property="og:image" content="<%= siteUrl %>/share.jpg" />
    <meta property="og:url" content="<%= siteUrl %>/" />
    <meta property="og:type" content="website" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="<%= siteDomain %>" />
    <meta property="twitter:url" content="<%= siteUrl %>/" />
    <meta name="twitter:title" content="Sneed Vision Letter" />
    <meta name="twitter:description" content="Sneed Vision Letter" />
    <meta name="twitter:image" content="<%= siteUrl %>/share.jpg" />
  </head>
  <body>
    <canvas></canvas>
    <script type="module" src="/src/main.ts"></script>
  </body>
</html>
